<article>
    <h2><%= @post.title %></h2>
    <h3>Posted by <%= @post.poster %> on <%= @post.created_at %>
    </h3>
    <br />
    <p> <%= @post.content %></p>
</article>

<%= link_to("Back to main",posts_path) %>
<%= link_to("Add response",new_post_reply_path(@post.id) ) %>
