<!DOCTYPE html>
<html>
  <head>
    <title>Messageboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
    <% if notice %>
        <p class="message success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="message error"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
